<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles.css" />
  </head>

  <body>
    <div id="main">
      <div id="app">
        <h1><%= title %></h1>
        <% characters.forEach((character, idx) => { %>
          <div class="char-info" id="<%= idx+1 %>">
            Name: <%= character.name %>
            <br>
            Species: <%= character.species %>
            <br>
            <% character.colors.forEach((color, idx) => { %>
              Color<%= idx+1 %>: <%= color %>
              <br>
            <% }) %>
          </div>
        <% }); %>
        <a href="/">Back</a>
      </div>
    </div>
  </body>
</html>